h1 {
  color: white;
}
* {
  box-sizing: border-box;
}

[type="file"] {
  border: 0;
  clip-path: rect(0, 0, 0, 0);
  height: 1px;
  overflow: hidden;
  padding: 0px;
  position: absolute !important;
  white-space: nowrap;
  width: 1px;
}
[type="file"] + label {
  background-color: rgb(43, 69, 143);
  width: 25%;
  border-radius: 8px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  padding: 7px 0;
  text-align: center;
  transition: 0.3s;
  border: 0.1mm solid white;
}

[type="file"] + label:hover {
  background-color: #fff;
  color: rgb(43, 69, 143);
  border-color: rgb(43, 69, 143);
}
